[mysqld]
log-error      = /var/log/mysqld.log

slow_query_log_file           = /var/log/mysql/mysql-slow.log
long_query_time               = 0.5
log-queries-not-using-indexes = 1
log_slow_admin_statements     = 1

## replication ##
server-id        = 100
log-bin          = /var/lib/mysql/mysqld-bin
relay-log        = /var/lib/mysql/mysqld-relay-bin
log-slave-updates
max_binlog_size  = 256M
binlog_format    = mixed
expire_logs_days = 7

## connection ##
max_connections    = 10000
max_connect_errors = 100000000
max_allowed_packet = 32M
wait_timeout       = 30

## buffer/cache ##
# global
key_buffer          = 16M
join_buffer_size    = 64k
read_buffer_size    = 256k
table_open_cache    = 2000
thread_cache_size   = 100

# per thread
sort_buffer_size    = 1M
tmp_table_size      = 32MB
max_heap_table_size = 32M
thread_stack        = 192K

## InnoDB ##
# skip-innodb
innodb_buffer_pool_size         = 1024M
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT_NO_FSYNC
skip-innodb_doublewrite
